https://qutebrowser.org/tmp/wheels/5.15-rc/windows/PyQt5-5.14.2-5.14.2-cp35.cp36.cp37.cp38-none-win_amd64.whl
PyQt5-sip==12.7.2
https://qutebrowser.org/tmp/wheels/5.15-rc/windows/PyQtWebEngine-5.14.0-5.14.2-cp35.cp36.cp37.cp38-none-win_amd64.whl
